black
isort
matplotlib
mypy
nbstripout
networkx
numba
numpy
ollama
pandas
pre-commit
pyright
pytest
requests-cache
ruff
scikit-learn
scipy
seaborn
setuptools
statsmodels
tqdm
types-requests
ucimlrepo
xgboost
ydata-profiling
