black
isort
matplotlib
mypy
nbstripout
networkx
numba
numpy
pandas
pre-commit
pyright
pytest
requests-cache
ruff
scipy
seaborn
setuptools
statsmodels
tqdm
types-requests
ucimlrepo
xgboost
ydata-profiling
